/* Carousel.css */

.carousel-container {
 
  align-items: center;
  justify-content: space-between;
}

.title-new{
  font-size: 1.4rem;
  color: #555555;
}

@media (max-width: 1250px) {
  .carousel-image{
    width: 80%;
  
  }
}